/*
Author: Addalyn Bradbury, Emily Kunkel, Adrienne Looker
Date: October 2022
File Name: styles.css
*/
/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section,
article, aside, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body, html, {
  height: 100%;
}

/* Style rule for box sizing applies to all elements */
* {
  box-sizing: border-box;
}

/* Style rules for mobile viewport */
/* Style rule for header */
header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #006a4e;
  color: black;
}

header img {
  margin: 0 auto;
  width: 100%;
  align: center;
}

/* Navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  clear: left;
}

.navlogo {
  padding: 0px;
  background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #006a4e;
  color: white;
}

.right {
  background-color: #333;
  overflow: hidden;
  float: right;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  color: black;
  background-color: #eee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  color: black;
}

/* Style rules for hamburger area */
.mobile-nav a {
  color: #fff;
  font-family: 'Francois One';
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
  display: block;
}

.tablet-desktop, #menu-links {
  display: none;
}

/* Style rules for main content */
main {
  padding: 2%;
  font-size: 1.15em;
  font-family: serif;
}

.containerfml {
  position: relative;
}

.formblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Picture with form on top */
.bg-img {
  /* The image used */
  background-image: url("images/admin.jpg");
  /* Control the height of the image */
  min-height: 380px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nobull {
  list-style-type: none;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #006a4e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Style rules for form elements */
fieldset, input, select, textarea {
  margin-bottom: 2%;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 3%;
}

form #submit {
  margin: 0 auto;
  border: none;
  display: block;
  padding: 2%;
  color: #fff;
  background-color: #006a4e;
  font-size: 1em;
  border-radius: 6px;
}

h2 {
  font-size: 30px;
  color: #006a4e;
}

/* Style rules for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile, .mobile-nav {
    display: none;
  }

  /* Tablet Viewport: Style rule for header */
  header {
    padding-bottom: 2%;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav {
    padding: 1%;
    margin-bottom: 1%;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    display: inline-block;
    border-right: 1px solid #fff;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    padding: 0.1em 0.75em;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  /* Media Query for Desktop Viewport */
  @media screen and (min-width: 1015px), print {

    /* Desktop Viewport: Style rule for header */
    header {
      width: 25%;
      float: left;
      padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
      float: right;
      width: 70%;
      margin: 4em 1em 0 0;
    }

    nav ul {
      text-align: right;
    }

    nav li {
      border: none;
    }

    nav li a {
      padding: 0.5em 1em;
    }

    nav li a:hover {
      color: #000;
      background-color: #fff;
      transform: scale(1.3);
    }

    /* Desktop Viewport: Style Rules for main content */
    main {
      clear: left;
    }

    main h1 {
      font-size: 1.8em;
    }

    article h3 {
      font-size: 1.75em;
    }

    .pic-text {
      font-size: 1.5em;
      padding: 20px;
    }

    .frame {
      opacity: 0.9;
    }

    .frame:hover {
      opacity: 1;
      box-shadow: 8px 8px 10px #808080;
      transform: translateY(10);
    }

    .offer:hover {
      transform: scale(1.25);
      cursor: pointer;
    }

    /* Desktop Viewport: Style rules for form elements */
    form {
      width: auto;
    }

    .form-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }

    .btn {
      grid-column: 1 / span 3;
    }
  }

  /* Media Query for Large Desktop Viewports */
  @media screen and (min-width: 1921px) {
    #container {
      width: 1920px;
      margin: 0 auto;
    }

    table {
      width: 80%;
    }
  }

  /* Media Query for Print */
  @media print {
    body {
      background-color: #fff;
      color: #000;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
  }

  .next {
    background-color: #04AA6D;
    color: white;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  /* Place the navbar at the bottom of the page, and make it stick */
  .navbar {
    background-color: #333;
    overflow: hidden;
    bottom: 16%;
    width: 100%;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .footer {
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    overflow: hidden;
    <<<<<<< Updated upstream position: relative;
    =======position: absolute;
    >>>>>>>Stashed changes padding-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  .social {
    top: 20%;
    padding-top: 15px;
    text-decoration: none;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }

  /* Media Query for Tablet Viewport */
  @media screen and (min-width: 630px), print {

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
      display: block;
    }

    .mobile, .mobile-nav {
      display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header {
      padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav {
      padding: 1%;
      margin-bottom: 1%;
    }

    nav ul {
      list-style-type: none;
      text-align: center;
    }

    nav li {
      font-size: 1.5em;
      font-family: 'Francois One', sans-serif;
      border-top: none;
      display: inline-block;
      border-right: 1px solid #fff;
    }

    nav li:last-child {
      border-right: none;
    }

    nav li a {
      padding: 0.1em 0.75em;
      display: block;
      color: #fff;
      text-decoration: none;
    }

    /* Tablet Viewport: Style rules for main content area */
    main ul {
      margin: 0 0 4% 10%;
    }

    .grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }

    .pic-text {
      font-size: 1em;
      padding: 10px;
    }

    aside {
      text-align: center;
      font-size: 1.25em;
      font-style: italic;
      font-weight: bold;
      padding: 2%;
      background-color: rgba(204, 204, 204, 0.5);
      box-shadow: 5px 5px 8px #000;
      text-shadow: 5px 5px 5px #b3b3b3;
      border-radius: 0 15px;
    }

    .grid-item4 {
      grid-column: 1 / span 3;
    }

    #exercises {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background: linear-gradient(to right, #ccc, #fff);
      background-color: #f2f2f2;
      padding: 1% 2%;
    }

    #exercises dt {
      font-weight: bold;
    }

    #exercises dd {
      padding: 0.5% 1% 2% 0;
    }

    .viewex {
      font-weight: bold;
      cursor: pointer;
    }

    #example {
      display: none;
    }

    .tel-num {
      font-size: 1.25em;
    }

    .map {
      width: 600px;
      height: 450px;
    }

    /* Tablet Viewport: Style rules for table */
    table {
      border: 1px solid #000;
      border-collapse: collapse;
      margin: 0 auto;
      width: 100%;
    }

    caption {
      font-size: 1.5em;
      font-weight: bold;
      padding: 1%;
    }

    th, td {
      border: 1px solid #000;
      padding: 2%;
    }

    th {
      background-color: #000;
      color: #fff;
      font-size: 1.15em;
    }

    tr:nth-child(odd) {
      background-color: #ccc;
    }

    /* Tablet Viewport: Style rule for form element */
    form {
      width: 70%;
      margin: 0 auto;
    }

    /* Tablet Viewport: Animation */
    0-website-keyframes text-animation {
      0% {
        font-size: 1em;
      }

      50% {
        font-size: 2em;
      }

      100% {
        font-size: 1.35em;
      }
    }

    @keyframes text-animation {
      0% {
        font-size: 1em;
      }

      50% {
        font-size: 2em;
      }

      100% {
        font-size: 1.35em;
      }
    }
  }

  figcaption {
    -webkit-animation-name: text-animation;
    animation-name: text-animation;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
  }

  /* Media Query for Desktop Viewport */
  @media screen and (min-width: 1015px), print {

    /* Desktop Viewport: Style rule for header */
    header {
      width: 25%;
      float: left;
      padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
      float: right;
      width: 70%;
      margin: 4em 1em 0 0;
    }

    nav ul {
      text-align: right;
    }

    nav li {
      border: none;
    }

    nav li a {
      padding: 0.5em 1em;
    }

    nav li a:hover {
      color: #000;
      background-color: #fff;
      transform: scale(1.3);
    }

    /* Desktop Viewport: Style Rules for main content */
    main {
      clear: left;
    }

    main h1 {
      font-size: 1.8em;
    }

    article h3 {
      font-size: 1.75em;
    }

    .pic-text {
      font-size: 1.5em;
      padding: 20px;
    }

    .frame {
      opacity: 0.9;
    }

    .frame:hover {
      opacity: 1;
      box-shadow: 8px 8px 10px #808080;
      transform: translateY(10);
    }

    #weights, #cardio, #training {
      width: 29%;
      float: left;
      margin: 0 2%;
    }

    #exercises {
      clear: left;
    }

    .offer:hover {
      transform: scale(1.25);
      cursor: pointer;
    }

    /* Desktop Viewport: Style rules for form elements */
    form {
      width: auto;
    }

    .form-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }

    .btn {
      grid-column: 1 / span 3;
    }
  }

  body, html {
    height: 100%;
  }

  /* Media Query for Large Desktop Viewports */
  @media screen and (min-width: 1921px) {
    #container {
      width: 1920px;
      margin: 0 auto;
    }

    table {
      width: 80%;
    }
  }

  /* Media Query for Print */
  @media print {
    body {
      background-color: #fff;
      color: #000;
    }
  }